* {
  box-sizing: border-box;
}
body {
  width: 1280px;
  margin: auto;
}
.header {
  margin: 25px 0 25px;
}

.menu {
  list-style: none;
  text-align: center;
  box-sizing: border-box;
}
.menu__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  text-decoration: none;
}
.menu__item {
  display: inline-block;
  margin-right: 72px;
}
.btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  border: none;
  padding: 18px 43px;
}
.button {
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #373737;
  margin: 48px;
  text-align: center;
}

.box-txt {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-bottom: 66px;
}
.btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
  border: none;
  padding: 18px 43px;
}
.button {
  margin: 0 auto;
  text-align: center;
}
.footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  text-align: right;
  margin: 29px 0 29px;
}
